<h1 mat-dialog-title>Dialog with elements</h1>
<div mat-dialog-content>
   <form [formGroup]="productForm">
        <mat-form-field appearance="outline">
            <mat-label>Product Name</mat-label>
            <input formControlName="productName" matInput >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Product Category</mat-label>
            <mat-select formControlName="category">
                <mat-option value="Fruite">Fruite</mat-option>
                <mat-option value="Vegtable">Vegtable</mat-option>
                <mat-option value="Electonic">Electonic</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Date</mat-label>
            <input formControlName="date" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <label for="">Product Freshness</label>
        <mat-radio-group formControlName="freshness" class="example-radio-group">
            <mat-radio-button class="example-radio-button" *ngFor="let fresh of freshnessList" [value]="fresh">
                {{fresh}}
            </mat-radio-button>
        </mat-radio-group>

        <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input formControlName="price" type="number" matInput >
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Comment</mat-label>
            <textarea formControlName="comment" matInput></textarea>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions [align]="'end'">
  <button mat-stroked-button color="primary" (click)="addProduct()">{{actionBtn}}</button>
  <button mat-stroked-button mat-dialog-close  color="warn">Close</button> 
</div>